<div class="container py-4">
  <h2 class="mb-4">Panel de Administración</h2>

  <div class="row">
    <div class="col-md-6">
      <button
        class="btn btn-primary w-100 mb-3"
        (click)="toggleSection('vets')"
      >
        Registrar Veterinario
      </button>
    </div>
    <div class="col-md-6">
      <button
        class="btn btn-secondary w-100 mb-3"
        (click)="toggleSection('users')"
      >
        Ver Usuarios
      </button>
    </div>
  </div>

  <div *ngIf="section === 'vets'">
    <app-register-vet></app-register-vet>
  </div>
</div>
