<form [formGroup]="vetForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Apellido</label>
    <input type="text" formControlName="apellido" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Identificación</label>
    <input type="text" formControlName="identificacion" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Dirección</label>
    <input type="text" formControlName="direccion" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Especialidad</label>
    <input type="text" formControlName="especialidad" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Contraseña</label>
    <input type="password" formControlName="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-success">Registrar Veterinario</button>
</form>
