<div class="container py-4">
  <h2 class="mb-4">Panel de Administración</h2>

  <div class="row">
    <div class="col-md-6">
      <button
        class="btn btn-primary w-100 mb-3"
        (click)="toggleSection('regpets')"
      >
        Registrar Mascota
      </button>
    </div>
    <div class="col-md-6">
      <button
        class="btn btn-secondary w-100 mb-3"
        (click)="toggleSection('listpets')"
      >
        Mascotas
      </button>
    </div>
  </div>

  <div *ngIf="section === 'regpets'">
    <app-register-pet></app-register-pet>
  </div>
  <div *ngIf="section === 'listpets'">
    <app-list-pets></app-list-pets>
  </div>
</div>
