<h2>Registro de Usuario</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    Identificación:
    <input type="text" formControlName="identificacion" />
  </label>
  <br />

  <label>
    Nombre:
    <input type="text" formControlName="nombre" />
  </label>
  <br />

  <label>
    Apellido:
    <input type="text" formControlName="apellido" />
  </label>
  <br />

  <label>
    Email:
    <input type="email" formControlName="email" />
  </label>
  <br />

  <label>
    Dirección:
    <input type="text" formControlName="direccion" />
  </label>
  <br />

  <label>
    Contraseña:
    <input type="password" formControlName="password" />
  </label>
  <br />

  <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
</form>
